# Blocks based checkout started on version 8.3.2 onwards
WOOCOMMERCE_VERSION=9.6.2 # Blocks started on this version
WORDPRESS_VERSION=6.7.2
WORDPRESS_THEME=twentytwentyfive
PHP_VERSION=8.1


# WOOCOMMERCE_VERSION: 8.0.4 # Not using blocks
# WOOCOMMERCE_VERSION=5.7.1
# WORDPRESS_VERSION=5.9.0
# WORDPRESS_THEME=twentytwentyone
# PHP_VERSION=7.4


API_KEY=YOUR_W3W_API_KEY